@page "{id:int?}"
@model SW.Infolink.Web.Pages.Subscribers.EditModel

@{
    ViewData["Title"] = Model.Id == 0 ? "Create" : "Edit";
}

<div class="card card-default">
    <div class="card-header">@ViewData["Title"]</div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input hidden asp-for="Id" />

            <div class="form-group">
                <label asp-for="Subscriber.Name"></label>
                <input asp-for="Subscriber.Name" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Subscriber.DocumentId">Document</label>
                <select asp-for="Subscriber.DocumentId" class="form-control dropdown" asp-items="@(await Model.ApiService.GetAsync<SearchyResponse<DocumentRow>>($"documents?{new SearchyRequest()}")).Result.Select(k => new SelectListItem { Text = k.Name, Value = k.Id.ToString() })">
                    <option selected="selected" class="form-control dropdown-item" value="">Please select</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Subscriber.HandlerId">Handler</label>
                <select asp-for="Subscriber.HandlerId" class="form-control dropdown" asp-items="@(await Model.ApiService.GetAsync<SearchyResponse<AdapterRow>>($"adapters?{new SearchyRequest(new SearchyCondition("Type",SearchyRule.EqualsTo,AdapterType.Handler)).ToString()}")).Result.Select(k => new SelectListItem { Text = k.Name, Value = k.Id.ToString() })">
                    <option selected="selected" class="form-control dropdown-item" value="">None</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Subscriber.MapperId">Mapper</label>
                <select asp-for="Subscriber.MapperId" class="form-control dropdown" asp-items="@(await Model.ApiService.GetAsync<SearchyResponse<AdapterRow>>($"adapters?{new SearchyRequest(new SearchyCondition("Type",SearchyRule.EqualsTo,AdapterType.Mapper)).ToString()}")).Result.Select(k => new SelectListItem { Text = k.Name, Value = k.Id.ToString() })">
                    <option selected="selected" class="form-control dropdown-item" value="">None</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Subscriber.KeySetId">Key Set Name</label>
                <select asp-for="Subscriber.KeySetId" class="form-control dropdown" asp-items="@(await Model.ApiService.GetAsync<SearchyResponse<AccessKeySetRow>>($"accesskeysets?{new SearchyRequest()}")).Result.Select(k => new SelectListItem { Text = k.Name, Value = k.Id.ToString() })">
                    <option selected="selected" class="form-control dropdown-item" value="">Please select</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Subscriber.ResponseSubscriberId ">Response Subscriber</label>
                <select asp-for="Subscriber.ResponseSubscriberId" class="form-control dropdown" asp-items="@(await Model.ApiService.GetAsync<SearchyResponse<SubscriberRow>>($"subscribers?{new SearchyRequest()}")).Result.Select(k => new SelectListItem { Text = k.Name, Value = k.Id.ToString() })">
                    <option selected="selected" class="form-control dropdown-item" value="">Please select</option>
                </select>
            </div>

            <div class="form-group">
                <input type="checkbox" asp-for="Subscriber.Aggregate" class="input-group-sm" style="color:gray" />
                <label class="form-check-label" asp-for="Subscriber.Aggregate"></label>
            </div>

            <div class="form-group">
                <input type="checkbox" asp-for="Subscriber.Inactive" class="input-group-sm" style="color:gray" />
                <label class="form-check-label" asp-for="Subscriber.Inactive"></label>
            </div>

            <div class="form-group">
                <input type="checkbox" asp-for="Subscriber.Temporary" class="input-group-sm" />
                <label class="form-check-label" asp-for="Subscriber.Temporary"></label>
            </div>

            <div class="form-group">
                <label asp-for="Properties"></label>
                <textarea asp-for="Properties" class="form-control" rows="5" placeholder="PropertyKey1=PropertyValue1;&#x0aPropertyKey2=PropertyValue2..."></textarea>
            </div>

            <div class="form-group">
                <label asp-for="DocumentFilter">Document Filter</label>
                <textarea asp-for="DocumentFilter" class="form-control" rows="5" placeholder="Key1=Format;&#x0aKey2=Format..."></textarea>
            </div>

            <div class="form-group">
                <label asp-for="Schedules">Schedules</label>
                <textarea asp-for="Schedules" class="form-control" rows="5" placeholder="Recurrence1=schedule1;&#x0a;Recurrence2=schedule2; ..."></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-page="/Subscribers/Index" class="btn btn-secondary" role="button">Cancel</a>

        </form>
    </div>
</div>
