@page "/"
@inject NavigationManager navigationManager
@using Humanizer

<h3>Dashboard</h3>

<Search PageSize="20" 
        SearchUrl="xchanges" 
        TModel="XchangeRow" 
        Height="500px" Width="max-content">

    <Commands>
        <a href="submit">New exchange</a>
    </Commands>

    <Columns>
        <Field Name="@nameof(XchangeRow.Id)"></Field>

        <Field Name="@nameof(XchangeRow.DocumentName)"
               Text="Document" />

        <Field Name="@nameof(XchangeRow.SubscriptionName)"
               Text="Subscription" />

        <Field Text="Started">
            <ColumnValue Context="fieldContext">
                @(((XchangeRow)fieldContext.Model).StartedOn.Humanize())
            </ColumnValue>
        </Field>
        <Field Text="Duration">
            <ColumnValue Context="fieldContext">
                @(((XchangeRow)fieldContext.Model).Duration)
            </ColumnValue>
        </Field>
        <Field Name="@nameof(XchangeRow.DeliveredOn)" Text="Delivered">
            <ColumnValue Context="fieldContext">
                @(((XchangeRow)fieldContext.Model).DeliveredOn.Humanize())
            </ColumnValue>
        </Field>

        <Field Name="@nameof(XchangeRow.AggregatedOn)" Text="Aggregated">
            <ColumnValue Context="fieldContext">
                @(((XchangeRow)fieldContext.Model).AggregatedOn.Humanize())
            </ColumnValue>
        </Field>

        <Field Name="@nameof(XchangeRow.Status)" />

        <Field Text="Files">
            <ColumnValue Context="fieldContext">
                <a target="_blank" href="@(((XchangeRow)fieldContext.Model).InputUrl)">
                    <span class="oi oi-account-login" aria-hidden="true"></span>
                </a>
                <a target="_blank" href="@(((XchangeRow)fieldContext.Model).OutputUrl)">
                    <span class="oi oi-account-logout" aria-hidden="true"></span>
                </a>
                <a target="_blank" href="@(((XchangeRow)fieldContext.Model).ResponseUrl)">
                    <span class="oi oi-envelope-closed" aria-hidden="true"></span>
                </a>
            </ColumnValue>
        </Field>
    </Columns>

</Search>

@code {

}
