@page "/"
@inject NavigationManager navigationManager
@inject InfolinkClient infolinkClient
@inject ScopedState state
@inject NotifyService notifyService

@using Humanizer

<h3>Dashboard</h3>

<Search PageSize="20"
        SearchUrl="xchanges"
        TModel="XchangeRow"
        @bind-Value="state[navigationManager.Uri]">

    <Commands>
        <a href="submit">New exchange</a>
    </Commands>

    <Filters>
        <Field Name="Id" />
        <Field Name="StatusFilter" Text="Status" Lookup="@Lookup.From("xchanges/statuslist")" />
        <Field Name="DocumentId" Text="Document" Lookup="@Lookup.FromSearchy("documents")" />
        <Field Name="SubscriptionId" Text="Subscription" Lookup="@Lookup.FromSearchy("subscriptions")" />
    </Filters>

    <Columns>
        <Field Text="Xchange">
            <ColumnValue>
                <span class="badge badge-light">@(((XchangeRow)context.Model).DocumentName)</span>
                @if (((XchangeRow)context.Model).SubscriptionName != null)
                {
                    <span class="badge badge-light">@(((XchangeRow)context.Model).SubscriptionName)</span>
                }


            </ColumnValue>
        </Field>

        @*<Field Name="@nameof(XchangeRow.DeliveredOn)" Text="Dlv">
                <ColumnValue Context="fieldContext">
                    @(((XchangeRow)fieldContext.Model).DeliveredOn.Humanize())
                </ColumnValue>
            </Field>*@

        <Field Text="Status">
            <ColumnValue>
                @if (((XchangeRow)context.Model).Status == null)
                {
                    <span class="badge badge-warning">Running</span>
                    <span class="badge badge-secondary">
                        @(((XchangeRow)context.Model).StartedOn.Humanize())
                    </span>
                }
                else if (((XchangeRow)context.Model).Status.Value)
                {
                    <span class="badge badge-success">Ok</span>
                    @if (((XchangeRow)context.Model).AggregatedOn != null)
                    {
                        <span class="badge badge-success">Aggregated</span>
                    }
                    <span class="badge badge-secondary">
                        @(((XchangeRow)context.Model).StartedOn.Humanize())
                    </span> <span class="badge badge-secondary">@(((XchangeRow)context.Model).Duration)</span>
                }
                else
                {
                    <a href="JavaScript:void(0);" @onclick="() => FailMessageClick(((XchangeRow)context.Model).Id)" class="badge badge-danger">Fail</a>
                    <span class="badge badge-secondary">
                        @(((XchangeRow)context.Model).StartedOn.Humanize())
                    </span>
                    <span class="badge badge-secondary">@(((XchangeRow)context.Model).Duration)</span>
                }

                @if (showFailMessageForId == ((XchangeRow)context.Model).Id)
                {
                    <Modal Title="Exception" OnClose="() => FailMessageClick(null)">
                        <Body>
                            <textarea class="form-control" rows="20" disabled="disabled">
                                @(((XchangeRow)context.Model).Exception)
                            </textarea>
                        </Body>
                        <Footer>
                            <BusyButton class="btn btn-primary" OnClick="bb => OnRetry( ((XchangeRow)context.Model).Id, bb)">
                                <Title>
                                    Retry
                                </Title>
                            </BusyButton>
                            <button class="btn btn-secondary" @onclick="() => FailMessageClick(null)">
                                Close
                            </button>
                        </Footer>
                    </Modal>
                }

            </ColumnValue>
        </Field>

        <Field Text="Files">
            <ColumnValue>
                @if (((XchangeRow)context.Model).InputUrl != null)
                {
                    <a href="@(((XchangeRow)context.Model).InputUrl)" target="_blank" class="badge badge-info">Input</a>
                }
                @if (((XchangeRow)context.Model).OutputUrl != null)
                {
                    <a href="@(((XchangeRow)context.Model).OutputUrl)" target="_blank" class="badge badge-info">Output</a>
                }
                @if (((XchangeRow)context.Model).ResponseUrl != null)
                {
                    <a href="@(((XchangeRow)context.Model).ResponseUrl)" target="_blank" class="badge badge-info">Response</a>
                }

            </ColumnValue>
        </Field>
        <Field Text="References">
            <ColumnValue>
                <span class="badge badge-primary">id: @(((XchangeRow)context.Model).Id)</span>
                @if (((XchangeRow)context.Model).RetryFor != null)
                {
                    <span class="badge badge-warning">retryfor: @(((XchangeRow)context.Model).RetryFor)</span>
                }
                @if (((XchangeRow)context.Model).AggregationXchangeId != null)
                {
                    <span class="badge badge-info">agg: @(((XchangeRow)context.Model).AggregationXchangeId)</span>
                }
                @if (((XchangeRow)context.Model).PromotedProperties != null)
                {
                    foreach (var kvp in ((XchangeRow)context.Model).PromotedProperties)
                    {
                        <span class="badge badge-light">p: @kvp.Key:@kvp.Value</span>
                    }
                }
            </ColumnValue>
        </Field>
    </Columns>

</Search>



@code {

    string showFailMessageForId;

    void FailMessageClick(string id)
    {
        showFailMessageForId = id;
    }

    async Task OnRetry(string id, IBusyButton busyButton)
    {
        var apiResult = await infolinkClient.Update($"xchanges/{id}/retry", new XchangeRetry());
        await notifyService.NotifyOnApiResult(apiResult);
        //if (apiResult.Success)
        //    navigationManager.NavigateTo(ReturnUrl);
        await busyButton.SetBusy(false);
        showFailMessageForId = null;
    }



}
