@page "/partners/{Id:int}"
@inject InfolinkClient infolinkClient
@inject NotifyService notify


<UpdateForm Title="Partner" TModel="PartnerUpdate" ApiUrl="partners" ReturnUrl="partners" Id="Id">
    <FormRow>
        <Field Name="@nameof(PartnerUpdate.Name)" />
    </FormRow>
    <FormRow>
        <Subform Name="@nameof(PartnerUpdate.ApiCredentials)" OnItem="OnApiCredItem" Text="Api Credentials (Partner Keys)">
            <Columns>
                <Field Text="Action">
                    <ColumnHeader Context="fieldContext">
                        Action (<a href="JavaScript:void(0);" @onclick="@(() => fieldContext.Action.Invoke("add", null))">add</a>)
                    </ColumnHeader>
                    <ColumnValue Context="fieldContext">
                        <a href="JavaScript:void(0);" @onclick="@(() => fieldContext.Action.Invoke("remove", fieldContext.Model))">Remove</a>
                    </ColumnValue>
                </Field>
                <Field Name="@nameof(KeyAndValue.Key)" Text="Name" />
                <Field Name="@nameof(KeyAndValue.Value)" Text="Api Key" />
            </Columns>
            <Form>
                <FormRow>
                    <Field Name="@nameof(KeyAndValue.Key)" Text="Name" />
                </FormRow>
            </Form>
        </Subform>
    </FormRow>
    <FormRow>
        <Subform Name="@nameof(PartnerUpdate.Subscriptions)">
            <Columns>
                <Field Name="@nameof(SubscriptionSearch.Id)" />
                <Field Name="@nameof(SubscriptionSearch.Name)" />
                <Field Name="@nameof(SubscriptionSearch.Type)" />
            </Columns>
        </Subform>
    </FormRow>

</UpdateForm>

@code {

    [Parameter]
    public int Id { get; set; }

    async Task OnApiCredItem(TableItem tableItem)
    {
        if (tableItem.Flag == TableItemFlag.Added)
        {
            var apiResult = await infolinkClient.GeneratePartnerApiKey();
            await notify.NotifyOnApiResult(apiResult);
            if (apiResult.Success)
            {
                ((KeyAndValue)tableItem.Item).Value = apiResult.Response;
            }
        }

    }

}
