@page "/documents/{Id:int}"


<UpdateForm Title="Document" TModel="DocumentUpdate" ApiUrl="documents" ReturnUrl="documents" Id="Id">
    <FormRow >
        <Field Name="@nameof(DocumentUpdate.Id)" ReadOnly="true" />
    </FormRow>
    <FormRow >
        <Field Name="@nameof(DocumentUpdate.Name)" ReadOnly="true" />
    </FormRow>
    <FormRow >
        <Field Name="@nameof(DocumentUpdate.DocumentFormat)" ReadOnly="true"/>
    </FormRow>
    <FormRow >
        <Field Name="@nameof(DocumentUpdate.DuplicateInterval)" />
    </FormRow>
    <FormRow >
        <Field Name="@nameof(DocumentUpdate.BusEnabled)" />
    </FormRow>
    <FormRow >
        <Field Name="@nameof(DocumentUpdate.BusMessageTypeName)" ReadOnly="!context.BusEnabled" />
    </FormRow>
    <FormRow >
        <Field Name="@nameof(DocumentUpdate.DisregardsUnfilteredMessages)"/>
    </FormRow>
    <FormRow >
        <Subform Name="@nameof(DocumentUpdate.PromotedProperties)">
            <Columns>
                <Field Text="Action">
                    <ColumnHeader Context="fieldContext">
                        Action (<a href="JavaScript:void(0);" @onclick="@(() => fieldContext.Action.Invoke("add", null))">add</a>)
                    </ColumnHeader>
                    <ColumnValue Context="fieldContext">
                        <a href="JavaScript:void(0);" @onclick="@(() => fieldContext.Action.Invoke("remove", fieldContext.Model))">Remove</a>
                        <a href="JavaScript:void(0);" @onclick="@(() => fieldContext.Action.Invoke("edit", fieldContext.Model))">Edit</a>
                    </ColumnValue>
                </Field>
                <Field Name="@nameof(KeyAndValue.Key)" Text="Friendly Name" />
                <Field Name="@nameof(KeyAndValue.Value)" Text="(Json/XML) Path" />
            </Columns>
            <Form>
                <div >
                    <Field Name="@nameof(KeyAndValue.Key)" Text="Friendly Name" />
                </div>
                <div >
                    <Field Name="@nameof(KeyAndValue.Value)" Text="(Json/XML) Path" />
                </div>
            </Form>
        </Subform>
    </FormRow>
</UpdateForm>

@code {

    [Parameter]
    public int Id { get; set; }

}
