
@page "{p?}"
@model SW.Infolink.Web.Pages.AccessKeySets.IndexModel
@{
    ViewData["Title"] = "Access Key Sets";
}
<form method="post">

    <partial name="_FilterPartial" model="Model.SearchFilter" />
    <partial name="_AlertPartial" model="Model.Alert" />
    @if (Model.Data != null && Model.Pager.TotalCount > 0)
    {
        <table class="table table-striped table-sm table-bordered mt-3">

            <tr>
                <th>
                    Name
                </th>
                <th>
                    Key1
                </th>
                <th>
                    Key2
                </th>
                <th>
                    Action
                </th>
            </tr>
            @foreach (var item in Model.Data)
            {

                <tr>
                    <td>@item.Name</td>
                    <td>@item.Key1</td>
                    <td>@item.Key2</td>
                    <td style="color:lightgray"><a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>|<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a></td>

                </tr>
            }

        </table>
    }
    <partial name="_PageNumberButtons" model="Model.Pager" />
</form>





