@page "/notifiers/{Id:int}"
@inject InfolinkClient infolinkClient
@inject NotifyService notifyService

<UpdateForm Title="Notifier" TModel="NotifierUpdate" ApiUrl="notifiers" ReturnUrl="notifiers" Id="Id" StayAfterSave="true">
   

        <FormRow>
            <Field ReadOnly="true" Name="@nameof(NotifierUpdate.Name)" />
        </FormRow>

        <FormRow>
            <Field Name="@nameof(NotifierUpdate.Inactive)" />
        </FormRow>


        <FormRow>
            <Field Name="@nameof(NotifierUpdate.HandlerId)"
                   Lookup="@Lookup.From("adapters?prefix=handlers")"
                   Text="Notifier Handler Adapter" />
        </FormRow>
        @if (context.HandlerId != null)
        {
            <FormRow>
                <Subform Name="@nameof(NotifierUpdate.HandlerProperties)" Text="Properties">
                    <Columns>
                        <Field Text="Action">
                            <ColumnHeader Context="fieldContext">
                                Action (<a href="JavaScript:void(0);" @onclick="@(() => fieldContext.Action.Invoke("add", null))">add</a>)
                            </ColumnHeader>
                            <ColumnValue Context="fieldContext">
                                <a href="JavaScript:void(0);" @onclick="@(() => fieldContext.Action.Invoke("remove", fieldContext.Model))">Remove</a>
                                <a href="JavaScript:void(0);" @onclick="@(() => fieldContext.Action.Invoke("edit", fieldContext.Model))">Edit</a>
                            </ColumnValue>
                        </Field>
                        <Field Name="@nameof(KeyAndValue.Key)" Text="Name" />
                        <Field Name="@nameof(KeyAndValue.Value)" />
                    </Columns>

                    <Form>
                        <FormRow>
                            <Field Name="@nameof(KeyAndValue.Key)" Text="Name" Lookup="@Lookup.FromSearchy($"adapters/{context.HandlerId}/properties")" />
                        </FormRow>
                        <FormRow>
                            <Field Name="@nameof(KeyAndValue.Value)" InputType="InputType.Multiline" />
                        </FormRow>
                    </Form>

                </Subform>
            </FormRow>
        }
               


</UpdateForm>

@code {

    [Parameter]
    public int Id { get; set; }
    

}
